version: "3.9"

services:
  backend:
    build: ./backend
    container_name: disease-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    restart: always

  frontend:
    build: ./frontend/frontend
    container_name: disease-frontend
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    depends_on:
      - backend
